### IDE

.idea

### Project

/staging
/vendor

### Config

.env
.npmrc
wp-config.php

### Windows

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

### Etc.

*test*
*.log
